<div class="entete">
  <a href="" class="logo">Africa the next brain</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#">Nos Ateliers</a></li>
    <li><a href="/apropos">A propos</a></li>
    <li *ngIf="securityService.kc.authenticated"><a href="/profil">{{securityService.kc.tokenParsed.name | slice:0:5 | uppercase}}</a></li>
    <li *ngIf="!securityService.kc.authenticated"><a class="clickable" (click)="onLogin()">Connexion</a></li>
    <li *ngIf="securityService.kc.authenticated"><a class="clickable" (click)="onLogout()">Deconexion</a></li>
    <li ><a href="#">Contact</a></li>
  </ul>
</div>
			<div id="preview" class="vertical"><br><br>
				<div class="inner">
					<div class="image fit"><br>
						<img src="../../assets/images/diago.jpg" alt="" />
              <div><br>
                    <p class="textapropos ">Personnellement je pense que l’Afrique doit tirer beaucoup de leçons à la sortie de cette pandémie et cela dans tous les secteurs.
                      La santé et l’agriculture en premier lieu, la recherche scientifique et le développement de l’industrie sans oublier l’éducation. </p>
                    <p class="textapropos ">Personnellement je pense que l’Afrique doit tirer beaucoup de leçons à la sortie de cette pandémie et cela dans tous les secteurs.
                      La santé et l’agriculture en premier lieu, la recherche scientifique et le développement de l’industrie sans oublier l’éducation. </p>
              </div>
					</div>
					<div class="content">
						<header>
							<h3>Africa The Next Brain</h3>
						</header>
						<p class="textapropos">Personnellement je pense que l’Afrique doit tirer beaucoup de leçons à la sortie de cette pandémie et cela dans tous les secteurs. La santé et l’agriculture en premier lieu, la recherche scientifique et le développement de l’industrie sans oublier l’éducation. </p>

<p class="textapropos">Nous devons être indépendant sur certain secteur clé.

Nous devons pousser nos étudiants à la recherche et les accompagnés.

Nous devons croire à la jeunesse et investir réellement sur les projets innovant pour nous-mêmes.

Ça ne sert à rien d’investir sur des projets qui ne riment pas avec nos besoins réels et nos réalités. </p>

<p class="textapropos">Nous devons aussi cultiver le sérieux en nous car si nous ne sommes pas sérieux et exigeant avec nous-mêmes on pourra jamais mettre sur place des projets durables et sérieux.</p>

<p class="textapropos">La prise de conscience et l’honnêteté envers soi permettront de se challenger nous-mêmes avant même de changer l’autre et le monde.
<br><br>
<b>« Naniou defar sounou bopp, defar afrique, sopi adouna »</b>

</p>
</div>
