
.card-inner{
    margin-left: 4rem;

}

.card {
   color: black;
}

textarea {
margin-bottom: 8px;
}
.btnsub {
 float: right;
}

.inner {

			margin: 0 auto;
}

.card {

margin-bottom: 5px;;
}

@media only screen and (min-width: 600px) {
   /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

.centered2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

	#header2 {
		position: fixed;
		top: -4%;
    left: 0%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header2 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			background: #3a7bc8;
			border-radius: 100%;
			width: 4em;
			height: 4em;
			padding-top: 2em;
			text-align: center;
			box-shadow: 0 0 0 0.5em #FFF;
			cursor: default;
		}

#header3 {
		position: fixed;
		top: -5%;
    left: 38%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header3 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			border-radius: 100%;
			width: 4em;
			height: 4em;
			padding-top: 4em;
			text-align: center;

			cursor: default;
		}
.iconhome{
color: #FFF;
font-size: 20px;
text-decoration: none;
}
.iconhome2{
color: #FFF;
font-size: 15px;
text-decoration: none;
font-weight: bold;
}


}

@media only screen and (max-width: 768px) {
 /* Centered text */
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

.centered2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

	#header2 {
		position: fixed;
		top: -4%;
    left: 0%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header2 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			background: #3a7bc8;
			border-radius: 100%;
			width: 4em;
			height: 4em;
			padding-top: 2em;
			text-align: center;
			box-shadow: 0 0 0 0.5em #FFF;
			cursor: default;
		}

#header3 {
		position: fixed;
		top: -5%;
    left: 38%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header3 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			border-radius: 100%;
			width: 4em;
			height: 4em;
			padding-top: 4em;
			text-align: center;

			cursor: default;

		}


.iconhome{
color: #FFF;
font-size: 20px;
text-decoration: none;
}

.iconhome2{
color: #FFF;
font-size: 15px;
text-decoration: none;
font-weight: bold;
}





}

@media only screen and (min-width: 992px) {
  /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

.centered2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

	#header2 {
		position: fixed;
		top: -5%;
    left: 0%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header2 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			background: #3a7bc8;
			border-radius: 100%;
			width: 5em;
			height: 5em;
			padding-top: 3em;
			text-align: center;
			box-shadow: 0 0 0 1em #FFF;
			cursor: default;
		}

#header3 {
		position: fixed;
		top: -5%;
    left: 35%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header3 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			border-radius: 100%;
			width: 4em;
			height: 4em;
			padding-top: 4em;
			text-align: center;

			cursor: default;
		}

.iconhome{
color: #FFF;
font-size: 20px;
text-decoration: none;
}
.iconhome2{
color: #FFF;
font-size: 15px;
text-decoration: none;
font-weight: bold;
}


}

@media only screen and (min-width: 1200px) {
  /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

.centered2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

	#header2 {
		position: fixed;
		top: -5%;
    left: 0%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header2 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			background: #3a7bc8;
			border-radius: 100%;
			width: 5em;
			height: 5em;
			padding-top: 3em;
			text-align: center;
			box-shadow: 0 0 0 1em #FFF;
			cursor: default;
		}

#header3 {
		position: fixed;
		top: -5%;
    left: 27%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header3 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			border-radius: 100%;
			width: 4em;
			height: 4em;
			padding-top: 4em;
			text-align: center;

			cursor: default;
		}

.iconhome{
color: #FFF;
font-size: 20px;
text-decoration: none;
}
.iconhome2{
color: #FFF;
font-size: 15px;
text-decoration: none;
font-weight: bold;
}


}


@media only screen and (min-width: 1400px) {

  /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

.centered2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

	#header2 {
		position: fixed;
		top: -5%;
    left: 0%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header2 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			background: #3a7bc8;
			border-radius: 100%;
			width: 5em;
			height: 5em;
			padding-top: 3em;
			text-align: center;
			box-shadow: 0 0 0 1em #FFF;
			cursor: default;
		}

#header3 {
		position: fixed;
		top: -5%;
    left: 20%;
		width: 100%;
	/*	height: 100vh;*/

	}
		#header3 .inner {

			-ms-flex-align: center;
			-ms-flex-pack: center;
			border-radius: 100%;
			width: 4em;
			height: 4em;
			padding-top: 4em;
			text-align: center;

			cursor: default;
		}

.iconhome{
color: #FFF;
font-size: 20px;
text-decoration: none;
}
.iconhome2{
color: #FFF;
font-size: 15px;
text-decoration: none;
font-weight: bold;
}

}







/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #3a7bc8; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
/*opacity: 0.9;*/
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 25px;
  cursor: pointer;
  color: white;
  border: none;
}

.openbtn:hover {

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.clickable{
cursor: pointer;}







/* entete */

.entete {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.entete ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.entete li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.entete li a:hover,
.entete .menu-btn:hover {
  background-color: #f4f4f4;
}

.entete .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.entete .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.entete .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.entete .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.entete .menu-icon .navicon:before,
.entete .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.entete .menu-icon .navicon:before {
  top: 5px;
}

.entete .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.entete .menu-btn {
  display: none;
}

.entete .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.entete .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.entete .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.entete .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.entete .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.entete .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .entete li {
    float: left;
  }
  .entete li a {
    padding: 20px 30px;
  }
  .entete .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .entete .menu-icon {
    display: none;
  }
}

.profil {
  position: absolute;
  top: 10%;
padding-left: 2%;
color: #f4f4f4;



}
.pname{
font-size: larger;
}
.pemail{
font-size:xx-small;

}

.nomUser{
color: #FFF;
font-weight: 500;
}

/* image profil */ 
   .media
    {
        /*box-shadow:0px 0px 4px -2px #000;*/
        margin: 20px 0;
        padding:30px;
    }
    .dp
    {
        border:10px solid #eee;
        transition: all 0.2s ease-in-out;
color: #eee;
    }
    .dp:hover
    {
        border:2px solid #eee;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);  
        -webkit-transform:rotate(360deg);  
        /*-webkit-font-smoothing:antialiased;*/
    }


