
@media only screen and (max-width: 768px) {
 /* Centered text */
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

.centered2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}
}

.card-inner{
    margin-left: 4rem;

}

.card {
   color: black;
}

textarea {
margin-bottom: 8px;
}
.btnsub {
 float: right;
}

.inner {

			margin: 0 auto;
}

.card {

margin-bottom: 5px;;
}

@media only screen and (min-width: 600px) {
   /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

.centered2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

}

@media only screen and (min-width: 992px) {
  /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

.centered2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

}

@media only screen and (min-width: 1200px) {
  /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}

.centered2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
width: 100%;
text-align: center;
}
}


