
<div class="row">
  <div class="col-md-12 col-xs-8">
<div class="btn-group col-md-12 col-xs-8">
              <button (click)="onPageContributionPrevious()"  class="btn btn-labeled btn-large">
                <span class=""><i class="fa fa-arrow-left"></i></span>
                  Précédent
              </button>

              <!-- <button (click) = toggleDisplay(isShow,isconnected) class="btn btn-large btn-primary">Ecrire</button>-->
              <button (click) = gomenu() class="btn btn-large btn-primary">Choisir un theme</button>

              <button (click)="onPageContributionNext()" class="btn btn-labeled btn-large">
                  Suivant
                <span class="align-right"><i class="fa fa-arrow-right"></i></span>
              </button>
</div>
</div>

</div>

<!--<alert></alert>
<button class="btn btn-success m-1" (click)="alertService.success('Success!!', autoClose=true)">Success</button>
<button class="btn btn-danger m-1" (click)="alertService.error('Error :(', autoClose=false)">Error</button>
<button class="btn btn-info m-1" (click)="alertService.info('Some info....', options.autoClose=true)">Info</button>
<button class="btn btn-warning m-1" (click)="alertService.warn('Warning: ...', options.autoClose=false)">Warn</button>
<button class="btn btn-outline-dark m-1" (click)="alertService.clear()">Clear</button>
-->
<!--
<div class="row">
  <div class="col-md-4 my align-left">
    <button type="button" class="btn btn-labeled btn-default btn-sm" >
        <span class="btn-label"><i class="fa fa-arrow-left"></i></span>Previous</button>
  </div>

  <div class="col-md-4 my align-center">
    <button type="button" class="btn btn-sm  btn-primary">Ecrire</button>
  </div>

<div class="col-md-4 my align-right">
    <button type="button"  class="btn btn-labeled btn-default btn-sm" >Next<span class="btn-label2 align-right"><i class="fa fa-arrow-right " ></i></span>
    </button>
</div>

</div>
-->
<br>
<app-new-contribution *ngIf ="isShow"></app-new-contribution>
<app-login *ngIf ="isShow2"></app-login>
<div class="col-md-12 align-center"> {{currentPage+1}} / {{totalPages}} </div>
<!--
<div class="btn-group bout align-center" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary btn-sm " (click)="onPageContributionPrevious()">Previous</button>
  <button type="button" class="btn btn-primary btn-sm" (click)="onPageContributionNext()">Next</button>
</div>
-->
<div class="badge  align-center col-md-12" *ngIf="totalPages===0">Pas de contibution enregistrée dans ce domaine</div>
<div class="text-danger" *ngIf="errorMessage">
<h3 class="align-center">{{errorMessage}}</h3>
</div>
<div *ngIf="contributions">
<div class="card" *ngFor="let c of contributions.content"  >
                  <div class="card-body">
                      <div class="row" >
                          <!--
                          <div class="col-md-2">
                              <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                              <p class="text-secondary text-center">15 Minutes Ago</p>
                          </div>
                          -->

                          <div class="col-md-12">
                              <p class="auteurContrib">
                                  <a class="float-left"><strong>{{c.signature}}</strong></a>

                                  <span class="float-right dateContrib" >{{c.date_contrib | date:'dd/MM/yyyy'}}</span>

                            </p>
                            <div class="clearfix"></div>
                              <p>{{c.message}}</p>
                              <p class="linkedInButton">
                                  <!--<a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>-->
                                  <a target="blank" href="" class="float-right btn text-white btn-primary"><i class="fa fa-linkedin"></i> {{c.signature}}</a>
                                  
                                 
<span class="badge badge-primary">{{c.domaine}}</span>

                            </p>
                              <p class="linkedInButton">
                                 
                                  <a  href="#"  class="card-link">Editer</a>
                                  <a (click)= onDelete(c.id) class="card-link">Supprimer</a>

                            </p>
                          </div>
                      </div>
                  </div>
                    <!-- <a href="detail1.html" class="nav previous"><span class="fa fa-chevron-left"></span></a>
                    <a href="detail2.html" class="nav next"><span class="fa fa-chevron-right"></span></a> -->
                  </div>
</div>




