<div class="row">
  <div class="col-md-12 col-xs-8">
<div class="btn-group col-md-12 col-xs-8">
              <button (click)="onPageContributionPrevious()"  class="btn btn-labeled btn-large">
                <span class=""><i class="fa fa-arrow-left"></i></span>
                  Revenir en arrière
              </button>

              <button (click) = toggleDisplay() class="btn btn-large btn-primary">Ecrire</button>

              <button (click)="onPageContributionNext()" class="btn btn-labeled btn-large">
                  Allez au suivant
                <span class="align-right"><i class="fa fa-arrow-right"></i></span>
              </button>
</div>

</div>

</div>

<!--
<div class="row">
  <div class="col-md-4 my align-left">
    <button type="button" class="btn btn-labeled btn-default btn-sm" >
        <span class="btn-label"><i class="fa fa-arrow-left"></i></span>Previous</button>
  </div>

  <div class="col-md-4 my align-center">
    <button type="button" class="btn btn-sm  btn-primary">Ecrire</button>
  </div>

<div class="col-md-4 my align-right">
    <button type="button"  class="btn btn-labeled btn-default btn-sm" >Next<span class="btn-label2 align-right"><i class="fa fa-arrow-right " ></i></span>
    </button>
</div>

</div>
-->
<br>
<app-new-contribution *ngIf = 'isShow' ></app-new-contribution>
<!--
<div class="btn-group bout align-center" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary btn-sm " (click)="onPageContributionPrevious()">Previous</button>
  <button type="button" class="btn btn-primary btn-sm" (click)="onPageContributionNext()">Next</button>
</div>
-->
<div class="card" *ngFor="let c of contributions._embedded.contributions" >
                  <div class="card-body">
                      <div class="row" >
                          <!--
                          <div class="col-md-2">
                              <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                              <p class="text-secondary text-center">15 Minutes Ago</p>
                          </div>
                          -->

                          <div class="col-md-12">
                              <p class="auteurContrib">
                                  <a class="float-left"><strong>{{c.signature}}</strong></a>

                                  <span class="float-right dateContrib" >{{c.date_contrib | date:'dd/MM/yyyy'}}</span>

                            </p>
                            <div class="clearfix"></div>
                              <p>{{c.message}}</p>
                              <p class="linkedInButton">
                                  <!--<a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>-->
                                  <a target="blank" href="{{urlLinkedin+c.profilRs}}" class="float-right btn text-white btn-primary"><i class="fa fa-linkedin"></i> {{c.signature}}</a>
                                  <a href="#" class="card-link">Lire suite...</a>
                                  <a href="#" class="card-link">{{c.domaine}}</a>

                            </p>
                          </div>
                      </div>
                  </div>
                    <!-- <a href="detail1.html" class="nav previous"><span class="fa fa-chevron-left"></span></a>
                    <a href="detail2.html" class="nav next"><span class="fa fa-chevron-right"></span></a> -->
                  </div>


